*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    box-sizing: inherit;
    overflow: hidden;
   
}
.frame {
    font-size: 20px;
    color: #fff;
    position: relative;
    margin-top: 45px;
    
  
}
.frame__one {
    width: 600px;
    height: 600px;
    background-color: #bd9d74;
    position: absolute;
    top: 50%;
    left: 30%;
   
}
.frame__two {
    position: absolute;
    top: 15%;
    left: 20%;
    background: linear-gradient(to right bottom, rgba(208,176,137, .9), rgba(192,163,119, 0.9) );
    border: 4px solid #bd9d74;
    box-shadow: 2px 6px 4px rgba(222, 222, 222, .5);
    height: 400px;
    width: 400px;
    
}
.frame__heading {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}
.frame__btn {
    transform: translate(-50%, -50%);
    display: block;
    width: 100px;
    height: 34px;
    background-color: #0d2c54;
    color: #fff;
    box-shadow: 4px 6px 2px rgba(100, 96, 90, 0.9);
    border-radius: 5px;
    cursor: pointer;
}

.btn1 {
    position: absolute;
    top: 75%;
    left: 50%;

}
.btn2 {
    position: absolute;
    top: 90%;
    left: 50%;

}

.frame__text {
    text-align: center;
    font-size: 100px;
    padding: 10px;
    color: #006400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}