/************************remove default css**********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #95b8d1;
    width: 60vw;
    height: 80vh;
    margin: 40px auto;  
}
#formfield {
    width: 50vw;
    height: 70%;
    background-color: #f5f5f5;
    text-align: center;
    padding: 30px;
}
#btn {
    background: #95b8d1;
    color: #f5f5f5;
}
#btn:hover {
    background: #f5f5f5;
    color: #175480; 
}
#input {
    width: 80%;
    height: 40px;
    margin: 30px;
}
#btn {
    width: 90px;
    height: 40px;
    border: 2px solid #175480;
    border-radius: 3px;
    font-size: 1em;
    text-shadow: 2px 3px #95b8d1;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    text-transform: capitalize;
}

